body {
	background-color: grey;
}

.maintitle {
	color: #E17761;
}

.maincontent {

}

.container {
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: #61E1B7;
	margin: auto;
	padding: 5px;
	left: 50%;
	margin-left: -50px;
	bottom: 50%;
	margin-bottom: -50px;
	border-radius: 3px;
}

.box1 {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: black;
	margin: 5px;
	border-radius: 3px;
	animation-name: box1move;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes box1move {
	25% {
		right: 5px;
	}
	50% {
		bottom: 5px;
	}
	75% {
		left: 5px;
	}
	100% {
		transform: rotate(360deg);
		top: 5px;
	}

}

.box2 {
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 25px;
	width: 25px;
	background-color:black;
	margin:5px;
	border-radius: 3px;
	animation-name: box2move;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes box2move {
	25% {
		left: 5px;
	}
	50% {
		top: 5px;
	}
	75% {
		right: 5px;
	}
	100% {
		transform: rotate(-360deg);
		bottom: 5px;
	}
}
